body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    display: none; /* Initially hidden */
}

#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#mainContent {
    margin-left: 260px;
    padding: 20px;
}

#toggleButton {
    margin: 10px;
    padding: 10px 20px;
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
}

#toggleButton:hover {
    background-color: #575757;
}
